:root {
    --blue: rgb(4, 113, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.navbar {
    z-index: 5;
}

.navbar-logo-txt {
    font-weight: 450;
    color: #3E3E3E;
}

.navbar-nav>li>a {
    display: block;
    color: gray;
    text-decoration: none;
    transition: .4s;
    padding: 0.5rem 1rem;
}

.navbar-nav>li>a:hover {
    color: black;
}

.white-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: .4s;
}

.white-btn:hover {
    color: white;
    background-color: var(--blue);
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

.black-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--blue);
    border: 2px solid transparent;
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .4s;
}

.black-btn:hover {
    background-color: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
}

.toast {
    z-index: 5;
}

.toast-border {
    border-left: 7px solid var(--blue);
    position: fixed;
    right: 0;
    bottom: 4%;
}

.footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pink-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid transparent;
    padding: .5rem 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .4s;
}

.pink-btn:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.choose-btn:hover {
    color: white;
    background-color: black;
}

@media only screen and (max-width: 400px) {
    .carousel-item {
        height: 40vh;
    }

    .carousel-item img {
        height: 100%;
    }
}